@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    font-family: Roboto;
}

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("background.jpg");
    /* Full height */
    height: 50%;
    margin-bottom: 2rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#subtitle {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50%;
    justify-content: center;
    text-align: center;
    width: 100%;
    weight: bold;
    font-size: 5rem;
    color: white;
}

table, th, td {
    border: 1px solid black;
}